* {
  box-sizing: border-box;
}

body {
  color: black;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wpm,
.cpm,
.errors,
.time,
.accuracy {
  background-color: rgb(208, 227, 67);
  border-radius: 10px;
  height: 80px;
  width: 90px;
  padding: 10px;
  margin: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpm,
.cpm {
  display: none;
}

.heading {
  font-size: 0.6em;
  font-weight: 600;
}

.wpm_actual,
.cpm_actual,
.errors_actual,
.time_actual,
.accuracy_actual {
  font-size: 2.5em;
}

.test_text {
  background-color: rgb(208, 227, 67);
  padding: 15px;
  margin: 20px auto;
  width: 30%;
  font-size: 1.5em;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.input_area {
  background-color: rgb(215, 221, 172);
  font-size: 1.5em;
  height: 60px;
  width: 40%;
  padding: 15px;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.restart_btn {
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-size: 1.2em;
  font-weight: 500;
  border: 0;
  background-color: rgb(66, 124, 126);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.incorrect_input {
  color: red;
  text-decoration: underline;
}

.correct_input {
  color: green;
}
